
body{ background:#DE535D;color: #14786D;padding:20px; }


a{color:#14786D;}

.control{background: none;color: #14786D; font-size:14px;font-weight:normal;}

td{padding-right: 55px; padding-bottom: 10px;}


